:root {
  -fuenteprincipal: "Poppins", sans-serif;
  -fuentesecundaria: "Montserrat", sans-serif;

  -primario: rgb(42, 62, 205);
  -primariooscuro: rgb(28, 46, 182);
  -primariotextos: rgb(24, 46, 94);
  -primarioclaro: rgb(217, 225, 254);
  -amarilloclaro: rgb(254, 247, 216);
  -gris: rgb(88, 100, 127);
  -grisclaro: rgb(238, 243, 255);
  -blanco: #ffffff;
  -negro: #000000;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  zoom: 95%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.8rem;
  color: var(-gris);
  background-color: var(-blanco);
  line-height: 1.5;
  font-family: var(-fuenteSecundaria);
}

p {
  font-family: var(-fuentePrincipal);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(-fuenteSecundaria);
  color: var(-primarioTextos);
}

h2 {
  font-size: 5rem;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navegacion {
  display: flex;
  max-width: 192rem;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  column-gap: 38rem;
}

.navegacion-logo {
  color: var(-primario);
  font-family: var(-fuenteSecundaria);
  font-weight: bolder;
  font-size: 3.4rem;
}
.navegacion-enlaces {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 4.5rem;
  margin: auto 0;
}

.navegacion-enlace {
  font-weight: 500;
  color: var(-gris);
  font-size: 2.2rem;
}

.boton {
  color: var(-blanco);
  background-color: var(-primarioOscuro);
  background: linear-gradient(
    90deg,
    var(-primario) 0%,
    var(-primarioOscuro) 100%
  );
  padding: 2rem 4rem;
  border-radius: 0.8rem;
  margin: 0;
  box-shadow: 0 0.2rem 1rem 0.5rem rgba(28, 46, 182, 0.3);
  border-style: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.boton:hover {
  color: var(-primario);
  background: rgba(28, 46, 182, 0.5);
  box-shadow: 0 0.2rem 1rem 0.5rem rgba(28, 46, 182, 0.3);
}

.navegacion-enlace:hover {
  color: var(-primario);
}

/*Seccion 1*/

.banner1 {
  background: url(../img/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 192rem;
  width: 192rem;
  height: 133.5rem;
  margin: 0 auto;
}

.banner1-contenido {
  width: 98rem;
  padding: 16rem;
  padding-top: 35rem;
}

.banner1-contenido_titulo {
  font-size: 8rem;
  line-height: 9rem;
}

.banner1-contenido_parrafo {
  padding: 5rem 0;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.1rem;
  line-height: 4rem;
}

.iconos {
  display: flex;
  column-gap: 8rem;
  padding: 3.5rem 2rem;
}

.icono1,
.icono2 {
  max-width: 30rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;

  font-size: 2rem;
  color: var(-primarioTextos);
  word-spacing: 0.1rem;
}

.icono-fondo {
  background-color: var(-amarilloClaro);
  width: 4rem;
  height: 4rem;
  border: solid;
  border-radius: 0.5rem;
  border-color: var(-blanco);
  border-width: 0.1rem;
  box-shadow: 0 1.5rem 2rem 0.2rem rgba(254, 247, 216, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1-agenda {
  width: 120rem;
  margin-left: 18rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.banner1-agenda .icono-fondo {
  background-color: var(-primarioClaro);
  box-shadow: 0 1.5rem 2rem 0.2rem rgba(217, 225, 254, 0.8);
}

.banner1-agenda_titulo {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 3rem;
  align-items: center;
  margin: 0 auto 0 0;
}

.banner1-agenda_titulo p {
  font-family: var(-fuenteSecundaria);
  font-size: 2.8rem;
  font-weight: 600;
  color: var(-primarioTextos);
}

.banner1-agenda_panel {
  width: 129rem;
  height: 20rem;
  border: solid;
  border-radius: 1.5rem;
  border-color: var(-blanco);
  border-width: 0.1rem;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(0.7rem);
  backdrop-filter: blur(0.7rem);
  box-shadow: 0 2rem 4rem 0.1rem rgba(28, 46, 182, 0.2);
  z-index: 1;

  display: flex;
}

.agenda-panel_info .icono-fondo {
  box-shadow: unset;
  order: -1;
}

.agenda-categoria {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  font-family: var(-fuentePrincipal);
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: var(-gris);
}

.agenda-panel_info {
  font-family: var(-fuenteSecundaria);
  color: var(-primarioTextos);
  font-size: 3.5rem;
  font-weight: 500;

  width: 105rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem;
  column-gap: 3rem;
}

.agenda-location {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.agenda-location_val {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-left: 5rem;
  font-family: var(-fuenteSecundaria);
  font-weight: 600;
}

.agenda-date {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.agenda-date_val {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 5rem;
  font-family: var(-fuenteSecundaria);
  font-weight: 600;
}

.agenda-type {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.agenda-type_val {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding-left: 5rem;
  font-family: var(-fuenteSecundaria);
  font-weight: 600;
}

.agenda-panel_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6rem;
}

.agenda-panel_submit .boton {
  font-family: var(-fuentePrincipal);
  font-size: 2.3rem;
  padding-right: 6rem;
  padding-left: 6rem;
}

.marcas-contenedor {
  background-color: var(-blanco);
  width: 192rem;
  height: 29.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 192rem;
  margin: 0 auto;
}

/* seccion2 */

.seccion2 {
  height: 100rem;
  background-color: var(-blanco);
  max-width: 192rem;
  width: 192rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.adorno-triangulo {
  width: 95.7rem;
  height: 31.8rem;
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
}

.seccion2-contenido {
  width: 158.2rem;
  height: 95.3rem;
  padding-top: 12rem;
}

.seccion2-intro_texto {
  width: 74.5rem;
  height: 13rem;
  padding: 2rem 3rem 2rem 0;
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.seccion2-items {
  background-color: white;
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  margin-top: 8rem;
}

.seccion2-item {
  width: 36.4rem;
  height: 45.8rem;
  border: solid #fafaff;
  border-width: 0.3rem;
  border-radius: 2rem;
  padding: 3rem;
  transition: box-shadow 0.5s ease;
}

.seccion2-item:hover {
  border: unset;
  box-shadow: 0 2rem 3rem 0.4rem rgba(217, 225, 254, 0.8);
}

.seccion2-item .icono-fondo {
  box-shadow: unset;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1.2rem;
  background-color: var(-primarioClaro);
  transition: box-shadow 0.5s ease;
}

.seccion2-item:hover .icono-fondo {
  box-shadow: 0 1.5rem 2rem 0.2rem rgba(217, 225, 254, 0.8);
}

.seccion2-item h3 {
  font-family: var(-fuentePrincipal);
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  margin: 2rem auto;
}

.seccion2-item p {
  line-height: 3.5rem;
}

.banner2 {
  background: url(../img/banner2.png);
  background-size: 84.8rem 87rem;
  background-repeat: no-repeat;
  background-position: 0rem 30.8rem;
  background-color: var(-blanco);

  max-width: 192rem;
  width: 192rem;
  height: 117.8rem;
  margin: 0 auto;

  position: relative;
}

.banner2 .adorno-triangulo {
  position: absolute;
  top: 2rem;
  bottom: auto;
  left: 0rem;
  right: auto;
  transform: scaleX(-1);
  z-index: 1;
  width: 80.6rem;
}

.banner2-contenido {
  width: 107.2rem;

  margin: 0 0 0 84.8rem;
  padding: 16rem;
}

.banner2-intro_texto {
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.15rem;
  word-spacing: 0.3rem;
  margin: 3rem 4rem 0 0;
}

.menuAcordeon {
  padding: 2rem 2rem 4rem 2.5rem;
  width: 80rem;
  min-height: 66.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-top: 4rem;
  overflow: hidden;
}

.acordeon-seccion {
  border: solid #fafaff;
  border-radius: 1.5rem;
  border-width: 0.2rem;
  background-color: var(-blanco);
  transition: box-shadow 0.5s ease;
  width: 64rem;
}

.acordeon-seccion_titulo {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 2rem;
  color: var(-primarioTextos);
  padding: 2rem 4rem;
}

.acordeon-seccion_titulo .icono-fondo {
  background-color: var(-primarioClaro);
  border-radius: 1rem;
  box-shadow: unset;
  transition: box-shadow 0.5s ease;
}
.acordeon-label {
  display: block;
  cursor: pointer;
  position: relative;
}

.acordeon-label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: -2rem;
  bottom: -2rem;
  right: -25rem;
  left: -8rem;
}

.acordeon-label:after {
  content: "";
  position: absolute;
  background-color: var(-primarioClaro);
  border: solid var(-blanco);
  border-radius: 0.8rem;
  border-width: 0.2rem;
  background-image: url(../img/arrow.svg);
  background-size: 1.071rem 0.927rem;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  width: 2.5rem;
  height: 2.7rem;

  top: auto;
  bottom: auto;
  left: 47rem;
  right: auto;

  transition: all 0.4s ease;
}

.acordeon-contenido {
  padding: 0rem 8rem 4rem 10rem;
  display: none;
}

.acordeon-input {
  display: none;
}
.acordeon-input:checked ~ .acordeon-seccion > .acordeon-contenido {
  display: block;
}

.acordeon-input:checked
  ~ .acordeon-seccion
  > .acordeon-seccion_titulo
  > .acordeon-label:after {
  transform: translateY(-50%) rotate(0.5turn);
  top: 2rem;
  box-shadow: 0 -0.8rem 2rem 0.2rem rgba(217, 225, 254, 0.8);
}

.acordeon-input:checked ~ .acordeon-seccion {
  box-shadow: 0 1.5rem 2.5rem 0.4rem rgba(217, 225, 254, 0.8);
  border: unset;
}

.acordeon-input:checked
  ~ .acordeon-seccion
  > .acordeon-seccion_titulo
  > .icono-fondo {
  box-shadow: 0 1.5rem 2rem 0.2rem rgba(217, 225, 254, 0.8);
}

.banner3 {
  max-width: 192rem;
  width: 192rem;
  height: 131.6rem;
  background-color: var(-blanco);
  margin: 0 auto;

  background-image: url(../img/banner3.png);
  background-repeat: no-repeat;
  background-size: 84.8rem 86.3rem;
  background-position: 107.25rem 45.3rem;

  position: relative;
}

.banner3 .adorno-triangulo {
  position: absolute;
  top: 10rem;
  bottom: auto;
  left: auto;
  right: 0;
}

.banner3-intro {
  width: 107.2rem;
  height: 50rem;
  padding: 16rem;
}

.banner3-intro_titulo {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.banner3-intro_texto {
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
  padding-right: 2rem;
}

.banner3-contenido {
  height: 66.6rem;
  width: 107.25rem;
  margin-top: 15rem;
  overflow: visible;
}

.banner3-items {
  height: 66.6rem;
  width: 76.8rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3.5rem;
  overflow: visible;
}

.banner3-item {
  width: 100%;
  max-width: 36.4rem;
  height: 100%;

  border: solid #fafaff;
  border-radius: 2rem;
  border-width: 0.3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
  padding: 0 3rem;

  transition: box-shadow 0.5s ease;
}

.banner3-item:hover {
  border: unset;
  box-shadow: 0 2rem 3rem 0.4rem rgba(217, 225, 254, 0.8);
  padding: 0 3.3rem;
}

.banner3-item_info .icono-fondo {
  box-shadow: none;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1.2rem;
  background-color: var(-primarioClaro);
  transition: box-shadow 0.5s ease;
}

.banner3-item:hover .icono-fondo {
  box-shadow: 0 1.5rem 2rem 0.2rem rgba(217, 225, 254, 0.8);
}

.banner3-item_info {
  display: flex;
  column-gap: 3rem;
}

.banner3-item_titulo {
  font-size: 3rem;
  color: var(-primarioTextos);
}

.banner3-item .boton {
  background: none;
  background-color: var(-primarioClaro);
  color: var(-primario);
  box-shadow: unset;

  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;

  transition: all 0.5s ease;
}

.banner3-item:hover .boton {
  background-color: var(-primario);
  color: var(-blanco);
  box-shadow: 0 1.5rem 2rem 0.2rem rgba(217, 225, 254, 0.8);
}

/* Footer */
.footer {
  background-color: #eef3ff;
  width: 100%;
  min-width: 192rem;
  margin-top: 20rem;
}

.footer-contenedor {
  width: 192rem;
  max-width: 192rem;
  height: 49rem;
  margin: 0 auto;
  padding: 8.6rem 18rem 3.5rem 18rem;

  display: flex;
  justify-content: space-between;

  background-image: url(../img/triangulo3.png);
  background-repeat: no-repeat;
  background-size: 36.277rem 18.139rem;
  background-position: 137.8rem 30.9rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  font-size: 2rem;
  justify-content: space-between;
}

.footer-goal {
  width: 27.5rem;
  height: 18rem;
}

.footer-goal_title {
  color: var(-primario);
  font-size: 4rem;
}

.footer-goal_text {
  font-size: 2rem;
  line-height: 4rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 2rem;
  line-height: 6rem;
}

.fRight-top {
  display: flex;
  justify-content: space-between;
  column-gap: 12.5rem;
}

.footer-right .footer-list {
  list-style-type: none;
}

.footer-right_title {
  font-size: 3rem;
}

.fRight-bottom {
  display: flex;
  column-gap: 4rem;
  justify-content: flex-end;
}
